<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hiveview.dao.recommend.VideosetRecomDao">

	<sql id="selectColumns">
	    <![CDATA[
		id,position,seq AS seq,content_type AS contentType,content_id AS contentId,content_desc AS contentDesc,focus_thumb_img AS focusThumbImg,is_effective AS isEffective
	    ]]>
	</sql>
	
	<sql id="findPageWhere">
		<where>	1=1
	       <if test="contentType != null">
				AND content_type = #{contentType}
			</if>
	       <if test="contentId != null">
				AND content_id = #{contentId}
			</if>
	       <if test="contentName != null and contentName!='' ">
				AND content_name like CONCAT('%', #{contentName},'%')
			</if>
	       <if test="isEffective != null">
				AND is_effective = #{isEffective}
			</if>
		</where>
	</sql>

	<insert id="save" parameterType="com.hiveview.entity.recommend.VideosetRecom">
    <![CDATA[
        INSERT INTO videoset_recom (
        	position,interval_time,seq,content_type,content_id,content_desc,
        	focus_thumb_img,created_time,
        	updated_time,is_effective,content_name
        ) VALUES (
        	#{position},#{intervalTime},#{seq},#{contentType} ,#{contentId} ,#{contentDesc},#{focusThumbImg} ,NOW() ,NOW() ,#{isEffective} ,#{contentName} 
        )
    ]]>
	</insert>
    
	<update id="update" parameterType="com.hiveview.entity.recommend.VideosetRecom">
    <![CDATA[
        UPDATE videoset_recom SET
	        seq = #{seq} ,
	        position = #{position} ,
	        interval_time = #{intervalTime} ,
	        content_desc = #{contentDesc} ,
	        focus_thumb_img = #{focusThumbImg} ,
	        is_effective = #{isEffective},
	        updated_time = NOW(),
	        content_name = #{contentName},
	        content_type = #{contentType},
	        content_id = #{contentId}
        WHERE id=#{id}
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM videoset_recom WHERE id=#{id}
    ]]>
    </delete>
    
    <select id="getById" resultType="com.hiveview.entity.recommend.VideosetRecom">
		SELECT <include refid="selectColumns" />
	    <![CDATA[
		    FROM videoset_recom 
	        WHERE 
		        content_type = #{contentType} 
		     AND   
		        content_id = #{contentId} LIMIT 0,1
	    ]]>
	</select>
	
    <select id="getCount" resultType="Integer">
        SELECT count(1) FROM videoset_recom 
		<include refid="findPageWhere"/>
    </select>
    
    <select id="getList" resultType="com.hiveview.entity.recommend.VideosetRecom">
    	SELECT 
    		h.id AS id,
    		h.interval_time AS intervalTime,
    		h.position AS position,
    		h.seq AS seq,
    		h.content_type AS contentType,
    		h.content_id AS contentId,
    		h.content_desc AS contentDesc,
    		h.focus_thumb_img AS focusThumbImg,
    		h.is_effective    AS isEffective,
    		h.content_name	  AS contentName,
    		f.firstclass_name AS contentTypeName
	    FROM videoset_recom h
	    JOIN class_first f
	    ON h.content_type = f.firstclass_id
		<include refid="findPageWhere"/>
		ORDER BY position ASC,seq ASC
		LIMIT #{pageIndex},#{pageSize}
    </select>
</mapper>

